clip@git+https://github.com/openai/CLIP.git@b46f5ac7587d2e1862f8b7b1573179d80dcdd620
detectron2-densepose@git+https://github.com/facebookresearch/detectron2@96c752ce821a3340e27edd51c28a00665dd32a30#subdirectory=projects/DensePose
docopt==0.6.2
dp2==0.1.0
face_detection@git+https://github.com/hukkelas/DSFD-Pytorch-Inference
gdown==5.2.1
importlib-metadata==8.0.0
ipython==8.12.3
jaraco.collections==5.1.0
motpy@git+https://github.com/wmuron/motpy@c77f85d27e371c0a298e9a88ca99292d9b9cbe6b
moviepy==1.0.3
nbconvert==7.17.0
opencv-python==4.12.0.88
pandas==2.3.3
pip-chill==1.0.3
pysocks==1.7.1
python-dotenv==1.2.1
scikit-image==0.25.2
timm==0.6.7
tinycss2==1.4.0
tops@git+https://github.com/hukkelas/torch_ops.git
torch-fidelity==0.3.0
torchreid==0.2.5
webdataset==0.2.26
yarg==0.1.9
